/* CSS Document */

.white {
	background-color: #fff;
}

.white_form {
	background-color: #fff;
	padding:10px;
}

.btn_blue{
	height:50px;
}

.btn_red{
	height:50px;

}

.btn_yellow{
	height:50px;
}